body{
    width: 70%;
    margin: 0 auto;
}
img{
    width: 200px;
    border: 1px dashed violet;
    border-radius: 15px;
    padding: 3px;

}
main{
    background-color: pink;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
}
h1{
    color: black;

}
.left{
    float:left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
img.right{
    margin-left: 10px;
}
img.right{
    margin-right: 10px;
}
aside{
    width: 30%;
}
h2{
    color: white;
    background-color: gray;
}
footer{
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}
aside > ul{
    border: 1px solid yellowgreen;
    border-radius: 10px;
    padding-left: 20px;
    background-color: thistle;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media print {
    @page {
        margin: 2cm;
    }

    head, footer, aside {
        display: none;
    }

    body {
        width: 100%;
    }

    main {
        width: 100%;
        font-family: Georgia, serif;
        font-size: 1.2rem;
        background-color: transparent;
        color: black;
    }
}
@media (max-width: 700px){
    body{
        width: 100%;
    }
    main, aside , img{
        width: 100%;
    }
    .right{
        float: none;
    }
    .right{
        float: none;
    }
}

